body {
    font-size: large;
    background-color: #b4b8b596;
}

#nome {
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #959695;
}

#sobre span {
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
}

.textosobre {
    font-family: Arial, Helvetica, sans-serif
}

#habilidades span {
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
}
#estado {
    font-weight: bold;
}

#descricao{
    text-align: center;
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
}

.lista {
    font-size: 18px;
}

#indice span{
    background-color: #959695;
}

#foto {
    border-radius: 10px;
    position: relative;
    left: 790px;
}

h3 span{
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
}