body {
    font-size: large;
    background-color: #b4b8b596;
    margin: 20px;
    font-family: sans-serif;
}

#nome {
    background-color: rgb(160, 160, 160);
    text-align: center;
}

#foto {
    float: left;
    padding: 10px;
    background-color: black;
}
.image-container {
    height: 310px;
    position: relative;
}

#descricao {
    position: absolute;
    top: 0%;
    left: 17%;
    background-color:rgb(160, 160, 160);
    padding: 2px 10px;
    border-radius: 50px;
}

#textodescricao {
    position: absolute;
    top: 16%;
    left: 17%;
}

#habilidades {
    position:absolute;
    left: 17.8%;
    top: 22%;
    padding: 2px 8px;
    background-color:rgb(160, 160, 160);
    border-radius: 50px;
}

.listahabilidades {
    position:absolute;
    left: 16.8%;
    top: 27%;
}

#indice span{
    padding: 2px 8px;
    background-color:rgb(160, 160, 160);
    border-radius: 50px;
}