body {
    font-size: large;
    background-color: #b4b8b596;
}

#nome {
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #959695;
}

.textosobre {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 18%;
    left: 30%;

}

.textosobre2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 27%;
    left: 30%;
    
}
#habilidades span {
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    left: 47%;
    top: 28%;
}
#estado {
    font-weight: bold;
}

#descricao span{
    text-align: center;
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    left: 47%;
}

.lista li:nth-child(1){
    font-size: 18px;
    position: absolute;
    left: 45%;
    top: 33%;
}
.lista li:nth-child(2){
    font-size: 18px;
    position: absolute;
    left: 45%;
    top: 36%;
}
.lista li:nth-child(3){
    font-size: 18px;
    position: absolute;
    left: 45%;
    top: 39%;
}
.lista2 

#indice{
    text-align: center;
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    left: 47%;
}

#foto {
    position: relative;
    float: left;
    padding: 10px;
    background-color: black;
    left: 10%;
}

h3 span{
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
}

.image-container {
    height: 330px;
    position: relative;
}
.conteudoindice {
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    left: 42.7%;
    top: 45%;
}
.conteudoindice h3 {
    background-color: #959695;
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    left: 80%;
    top: -40%;
}