body {
    font-size: large;
    background-color: #b4b8b596;
    margin: 20px;
    font-family: sans-serif;
}

#nome {
    background-color: rgb(160, 160, 160);
    text-align: center;
}

#foto {
    display: inline;
    float: left;
    margin-right: 50px;
    margin-bottom: 100%;
    padding: 5px;
    background-color: black;
}

ul li:nth-child(odd) {
    background-color: rgb(192, 190, 190);    
}

#indice, #descricao, #habilidades {
    
    background-color:  rgb(160, 160, 160);;
}